{% assign disabledTabs = include.disableTabs | split : " " %}
<div class="wide">  
  <div class="ace-custom-code3-block">
    
    <div class="editor-block">
      <div class="editor-tabs">
        {%unless disabledTabs contains 'html' %}
        <button
          class="tab-button {% if include.startTab == 'html' or include.startTab == nil %}active{% endif %}"
          onclick="openCode3Tab('html',event)"
        >
          HTML
        </button>
        {% endunless %} {%unless disabledTabs contains 'css' %}
        <button
          class="tab-button {% if include.startTab == 'css' %}active{% endif %}"
          onclick="openCode3Tab('css',event)"
        >
          CSS
        </button>
        {% endunless %} {%unless disabledTabs contains 'js' %}
        <button
          class="tab-button {% if include.startTab == 'js' %}active{% endif %}"
          onclick="openCode3Tab('js',event)"
        >
          JavaScript
        </button>
        {% endunless %}
        <button
          class="tab-button {% if include.startTab == 'all' %}active{% endif %}"
          onclick="openCode3Tab('all',event)"
        >
          All
        </button>
      </div>
      <div
        class="html-editor code-editor"
        style="display: {% if include.startTab == 'html' or include.startTab == nil  or include.startTab == 'all' %}block{% else %}none{% endif %}"
      >
        <ace-editor language="html">{{ include.html | escape  }}</ace-editor>
      </div>
      <div
        class="css-editor code-editor"
        style="display: {% if include.startTab == 'css'  or include.startTab == 'all' %}block{% else %}none{% endif %}"
      >
        <ace-editor language="css">{{ include.css  }}</ace-editor>
      </div>
      <div
        class="js-editor code-editor"
        style="display: {% if include.startTab == 'js'  or include.startTab == 'all' %}block{% else %}none{% endif %}"
      >
        <ace-editor language="javascript">{{ include.js  }}</ace-editor>
      </div>
    </div>

    <div class="result-block">
      <div class="result-title">Result</div>
      <iframe
        id="iframe-{{ unique_id }}"
        style="height: {{ include.height }}"
      ></iframe>
      <div class="error-block">
        <span class="close-button" onclick="clearErrors(event)">&times;</span>
      </div>
    </div>
  </div>
</div>
