<div>
  <h3 style="margin: 0; background-color: #333; color: #eee; font-size: 1rem">
    Live Example
  </h3>
  <iframe
    style="box-shadow: 2px 2px #777; border: 1px solid #ccc"
    src="/js1-docs/embeds/{{include.page}}"
    {%
    if
    include.width
    %}
    width="{{include.width}}"
    {%
    else
    %}
    width="600"
    {%
    endif
    %}
    {%
    if
    include.height
    %}
    height="{{include.height}}"
    {%
    else
    %}
    height="316"
    {%
    endif
    %}
    frameborder="0"
    allowfullscreen
  >
  </iframe>
</div>
