.inner,
#header_wrap .inner {
  max-width: 50em !important;
}
.cp_embed_wrapper,
.ace-custom-code-block,
.wide {
  /*--width: min(1280px, calc(100vw - 60px));*/
  width: min(var(--main-width), 1280px);
  position: relative;
  container-type: inline-size;
}
header h2 {
  margin-top: 0;
}
#forkme_banner {
  transform: scale(0.7);
}
#header_wrap header.inner {
  padding-top: 8px;
  padding-bottom: 8px;
}
