<nav>
  <div>
    <a href="{{ '/' | relative_url }}">About</a>
  </div>
  <div>
    <a href="{{ '/portfolio-project/' | relative_url }}">Portfolio Project</a>
    <div class="sub">
      {% for page in site.pages | sort:"url" %} {% if page.url contains
      'portfolio-project' %}
      <a href="{{ page.url | relative_url }}">{{ page.title }}</a>
      {% endif %} {% endfor %}
    </div>
  </div>

  <div>
    <a href="{{ '/dom' | relative_url }}">The DOM</a>
    <div class="sub">
      {% for page in site.pages | sort: "order" %} {% if page.url contains 'dom'
      %}
      <a href="{{ page.url | relative_url }}">{{ page.title }}</a>
      {% endif %} {% endfor %}
    </div>
  </div>

  <div>
    <a href="{{ '/tutorials' | relative_url }}">Tutorials</a>
    <div class="sub">
      <a href="{{ '/tutorials/tabs/' | relative_url }}">Tabs</a>
    </div>
  </div>
</nav>
