<div id="sidebar_wrap">
  <button id="sidebar-toggle" onclick="toggleSidebar()">
    <div class="hamburger-icon"><span></span><span></span><span></span></div>
  </button>
  <div id="sidebar">
    <ul></ul>
  </div>
</div>

<script>
  function buildSidebar(currentPath) {
    const folder = currentPath.replace(/[^/]*$/, "");
    var regex = new RegExp("^" + folder + "[^/]*[\\/]?$");
    console.log("Testing sidebar subpages with regex", regex);
    var filteredPages = sitePages.filter(function (page) {
      // Regular expression to match either
      // subfolder/not-a-slash...
      // OR
      // subfolder/subsubfolder/index.md
      return regex.test(page.url);
    });

    // Check if the current path is two folders deep and ends with a '/'
    if (folder.match(/\/[^/]+\/[^/]+\/$/) && window.location.pathname !== "/") {
      filteredPages = [{ title: "← Back", url: "../" }, ...filteredPages];
    }
    console.log("Sidebar pages: ", filteredPages);
    // Now, build your sidebar using filteredPages
    // This is just a basic example
    var sidebarHtml = "<ul>";
    filteredPages.forEach(function (page) {
      let active = "";
      if (currentPath == page.url) {
        active = 'class="active"';
      }
      sidebarHtml += `<li ${active}><a ${active} href="${page.url}">${page.title}</a></li>`;
    });
    sidebarHtml += "</ul>";

    document.getElementById("sidebar").innerHTML = sidebarHtml;

    document.addEventListener("DOMContentLoaded", () =>
      addBreadcrumbs(currentPath, filteredPages)
    );
  }

  function addBreadcrumbs(path, pages) {
    let next;
    let prev;
    for (let i = 0; i < pages.length; i++) {
      if (pages[i].url === path) {
        next = pages[i + 1];
        prev = pages[i - 1];
        break;
      }
    }
    console.log("Got next and prev", next, prev, "for page", path);
    let main = document.querySelector("#main_content");
    let breadcrumbs = document.createElement("div");
    breadcrumbs.classList.add("breadcrumbs");
    if (prev) {
      if (prev.url == "../") {
        breadcrumbs.innerHTML += `<a class="prev up" href="${prev.url}">↑</a>`;
      } else {
        breadcrumbs.innerHTML += `<a class="prev" href="${prev.url}">← ${prev.title}</a>`;
      }
    }
    if (next) {
      console.log("++next!");
      breadcrumbs.innerHTML += `&nbsp;<a class="next" href="${next.url}">${next.title} →</a>`;
    }
    let breadcrumbsCopy = breadcrumbs.cloneNode(true);
    main.prepend(breadcrumbs);
    main.append(breadcrumbsCopy);
  }

  // Call this function with the current path
  buildSidebar(window.location.pathname);
</script>
