<div id="sidebar_wrap">
  <button id="sidebar-toggle" onclick="toggleSidebar()">
    <div class="hamburger-icon"><span></span><span></span><span></span></div>
  </button>
  <div id="sidebar">
    <ul></ul>
  </div>
</div>

<script>
  function buildSidebar(currentPath) {
    const folder = currentPath.replace(/[^/]*$/, "");
    var regex = new RegExp(folder + "[^/]*[\\/]?$");
    var filteredPages = sitePages.filter(function (page) {
      // Regular expression to match either
      // subfolder/not-a-slash...
      // OR
      // subfolder/subsubfolder/index.md
      return regex.test(page.url);
    });

    // Check if the current path is two folders deep and ends with a '/'
    if (folder.match(/\/[^/]+\/[^/]+\/$/) && window.location.pathname !== "/") {
      filteredPages = [{ title: "Back", url: "../" }, ...filteredPages];
    }
    console.log("Filtered and sorted pages: ", filteredPages);
    // Now, build your sidebar using filteredPages
    // This is just a basic example
    var sidebarHtml = "<ul>";
    filteredPages.forEach(function (page) {
      let active = "";
      if (currentPath == page.url) {
        active = 'class="active"';
      }
      sidebarHtml += `<li ${active}><a ${active} href="${page.url}">${page.title}</a></li>`;
    });
    sidebarHtml += "</ul>";

    document.getElementById("sidebar").innerHTML = sidebarHtml;
  }

  // Call this function with the current path
  buildSidebar(window.location.pathname);
</script>
